@import "./variables.scss";

.block__addtocart-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: auto;
    gap: 20px;

    .block.block__addtocart-button {
        background: linear-gradient(45deg, transparent 5%, $base-red 5%);
        padding: 10px;
        max-width: 200px;
        width: 100%;
        display: block;
        margin: 0 auto;
        border: none;
        color: $white-color;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}

.block__addtocart-qty {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 30px 0;
    border: 0;
    max-width: 100px;

    input {
        font-size: 18px;
        height: 3rem;
        border-radius: 2rem;
        border: 0;
        background: #fff;
        color: #222;
        box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
        text-align: center;
        box-sizing: border-box;
        font-weight: lighter;
        width: 100px;
    }

    button {
        position: absolute;
        width: 1.5rem;
        height: 1.8rem;
        top: 0.6rem;
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        background: #fff url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0xNyAyNWgxNk02NyAyNWgxNk03NSAxN3YxNiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2IoNTksNjksNjYpIiBzdHJva2Utd2lkdGg9IjEuNXB4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+PC9zdmc+) no-repeat 0 0;
        background-size: 4.5rem 2.8rem;
        background-position-y: -0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 100%;
        border-radius: 1.4rem;
        cursor: pointer;
        transition: opacity .15s;
        opacity: .5;

        &.decrease-btn {
            left: 0.2rem;
        }

        &.increase-btn {
            right: 0.4rem;
            background-position-x: -2.7rem;
        }
    }
}