@import "./variables.scss";

.block__comic--details {
    box-sizing: border-box;
    padding: 60px 15px;

    img {
        display: block;
        margin: 0 auto;
        max-height: 600px;
        max-width: 100%;
    }   
}

.block__addtocart-container {
    max-width: 300px;
}

.block__comic--detail--title {
    font-size: 2.5rem;
}

.block__comic--price {
    font-size: 1.87rem;
    font-weight: bold;
}

.block__comic--description {
    font-size: 1.12rem;
    line-height: 26px;
}

@media only screen and (min-width: 769px) {
    .block__comic--details {
        display: flex;
        gap: 60px;
    }

    .block__comic--details img {
        margin: 0;
        max-width: 40%;
    }

    .block__comic--detail--content {
        max-width: 600px;
    }
}