@import "./variables.scss";

.block__comic--details {
    padding: 60px 15px;
    box-sizing: border-box;

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 600px;
    }   
}

.block__addtocart-container {
    max-width: 300px;
}

.block__comic--detail--title {
    font-size: 40px;
}

.block__comic--price {
    font-size: 30px;
    font-weight: bold;
}

.block__comic--description {
    font-size: 18px;
    line-height: 26px;
}

@media only screen and (min-width: 769px) {
    .block__comic--details {
        display: flex;
        gap: 60px;
    }

    .block__comic--details img {
        max-width: 40%;
        margin: 0;
    }

    .block__comic--detail--content {
        max-width: 600px;
    }
}