@import "./variables.scss";

.form.form--coupon {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 300px;
    padding: 0 15px;
    text-align: left;
}

.form__input {
    background: $white-color;
    border: 1px solid $base-color;
    border-radius: 6px;
    color: $base-color;
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    line-height: 25px;
    padding: 8px 16px;
    transition: border .3s ease;
    width: calc(100% - 130px);
}

.form__submit {
    background: $base-red;
    border: none;
    color: $white-color;
    font-size: 0.85rem;
    font-weight: bold;
    margin-left: -5px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100px;
}

.coupon--message {
    font-size: 0.87rem;
    color: $base-red;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    
    &.valid {
        color: $base-green;
    }
}