@import "./variables.scss";

footer {
    background-color: $base-color;
    bottom: 0;
    width: 100%;
}

.block__footer--container {
    box-sizing: border-box;
    color: $white-color;
    font-family: $secondary-font;
    font-size: 1.25rem;
    padding: 10px 15px;
    text-align: center;
}