@import "./variables.scss";

header {
    width: 100%;
    background: $white-color;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 9;
}

.block__header {
    display: flex;
    padding: 20px 15px;
}

.header__logo {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    
    a {
        color: $base-red;
        display: table;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 30px;
        font-family: $secondary-font;
    }

    span:first-child {
        background: $base-red;
        padding: 6px;
        color: $white-color;
    }

    span:last-child {
        border: 1px solid $base-red;
        padding: 5px;
        background-color: $white-color;
    }
}

@media only screen and (min-width: 769px) {
    .header__logo {
        a {
            font-size: 30px;
        }
    }
}