@import "./variables.scss";

.main__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  gap: 20px;
}

@media only screen and (min-width: 769px) {
  .main__container {
    gap: 40px;
  }
}