@import "./variables.scss";

.minicart__icon {
    margin-left: auto;
    position: relative;
    z-index: 1;

    a {
        display: block;
        line-height: 10px;
    }

    .counter {
        background: $base-red;
        border-radius: 50%;
        color: $white-color;
        font-weight: bold;
        font-family: $secondary-font;
        position: absolute;
        margin-top: -10px;
        margin-left: -18px;
        padding: 4px 6px;
    }

    svg {
        color: $base-red;
        font-size: 1.87rem;
    }
}