@import "./variables.scss";

.minicart__icon {
    z-index: 1;
    margin-left: auto;
    position: relative;

    a {
        display: block;
        line-height: 10px;
    }

    .counter {
        border-radius: 50%;
        position: absolute;
        margin-top: -10px;
        margin-left: -18px;
        background: $base-red;
        color: $white-color;
        padding: 4px 6px;
        font-weight: bold;
        font-family: $secondary-font;
    }

    svg {
        font-size: 30px;
        color: $base-red;
    }
}