@import "./variables.scss";

.block__success {
    display: table;
    margin: 0 auto;
    padding: 150px 20px;
    width: auto;

    h1 {
        color: $base-green;
    }
}


@media only screen and (min-width: 769px) {
    .block__success {
        h1 {
            font-size: 3rem;
        }
    }
}