@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Variables //

$base-color: #000;
$base-green: green;
$base-red: #e62429;
$base-gray-dark: #ddd;
$base-gray-light: #FAFAFA;
$base-yellow: gold;
$base-yellow-dark: goldenrod;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Marvel', sans-serif;
$white-color: #fff;

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    color: $base-color;
    font-family: $primary-font;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: $base-color;
    font-family: $secondary-font;
    font-weight: bold;
}

.block__container {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.main__container {
    box-sizing: border-box;
    padding: 60px 15px 30px;
}

.loader-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin block_primary--button {
    align-items: center;
    background: linear-gradient(45deg, transparent 5%, $base-red 5%);
    border: none;
    color: $white-color;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
  
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.30) 9px 5.95px 4.95px;
    }
  
    svg {
        font-size: 20px;
        margin-right: 5px;
    }
  }